<div class="user">
    <h3><%= link_to user.name, user_path(user) %></h3>
    
    <% if current_user == @event.organiser && !@event.attendees.include?(user) %>
        <%= button_to "Invite", event_participant_index_path(@event, id: user.id) %>
    <% elsif current_user == @event.organiser && @event.attendees.include?(user) %>
        <%= button_to "Un-invite", event_participant_path(@event, id: user.id), method: :delete %>
    <% end %>
</div>