#root,
#user_show {
    padding: var(--default-padding);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: var(--default-padding);
}

#root > h1,
#user_show h1 {
    text-align: center;
}

#upcoming_events,
#past_events,
#organised_events {
    flex: 1 1 auto;
    padding: var(--default-padding);
    border-radius: var(--border-radius);
    box-shadow: var(--container-shadow);
    max-width: 98%;
    height: 30vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    overflow-x: scroll;
    gap: var(--default-padding);
    background-color: var(--accent-color);
    color: var(--background-color);
}

#upcoming_events:hover,
#past_events:hover,
#organised_events:hover {
    box-shadow: var(--container-hover-shadow);
}

#root .event,
#user_show .event {
    flex: 0 0 auto;
    width: 22vw;
    border-radius: var(--border-radius);
    display: flex;
    padding: var(--default-padding);
    flex-flow: column nowrap;
    justify-content: space-between;
    overflow: hidden;
}

#root .event:hover,
#user_show .event:hover {
    z-index: 3;
    box-shadow: 0 0 1vw var(--header-color);
}

#root .event h4,
#user_show .event h4 {
    font-size: var(--content-size);
}